.wgdb-dualrange {
  display: flex;
}

.wgdb-dualrange>div {
  flex: 1, 1, auto;
  margin-right: 8px;
}

.wgdb-dualrange-container {
  position: relative;
  width: 150px;
}

.wgdb-dualrange-track,
.wgdb-dualrange-range {
  position: absolute;
  height: 6px;
  border-radius: 4px;
}

.wgdb-dualrange-track {
  background-color: var(--wgdb-bg-color);
  border: 1px solid var(--wgdb-table-cell-border-color);
  width: 100%;
  z-index: 1;
}

.wgdb-dualrange-range {
  background-color: #99c8ff;
  z-index: 2;
}

.wgdb-dualrange-thumb,
.wgdb-dualrange-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.wgdb-dualrange-thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 150px;
  z-index: 3;
}

.wgdb-dualrange-thumb.wgdb-raised-thumb {
  z-index: 4;
}

.wgdb-dualrange-thumb::-webkit-slider-thumb {
  background-color: #99c8ff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin-top: 2px;
  pointer-events: all;
  position: relative;
}