/* A value that when clicked will open a pane to view the value */
.wgdb-value-vis {
  color: var(--wgdb-clickable-color);
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
}

.wgdb-value-key {
  /* make the key column as short as possible */
  width: 1px;
}