.wgdb-dialog {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wgdb-dialog>* {
  background-color: var(--wgdb-bg-color);
  z-index: calc(var(--wgdb-z-index) + 1);
  border-radius: 5px;
  padding: 1em;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  width: 800px;
  outline: none;
}

.wgdb-dialog-heading {
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  font-weight: bold;
  margin: 10px;
  position: relative;
  user-select: none;
}

.wgdb-dialog-content {
  margin: 10px;
}

.wgdb-dialog-close {
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: top;
}