.wgdb-replay-group {
  margin-bottom: 2px;
  border-bottom: 1px solid var(--wgdb-table-cell-border-color);
  border-bottom: 1px solid var(--wgdb-table-cell-border-color);
  margin-bottom: 2px;
}

.wgdb-replay-resources {
  padding-left: 1.5em;
}

.wgdb-replay-resources>*:nth-child(5n) {
  border-bottom: 1px solid var(--wgdb-table-cell-border-color);
}