.spector2-replay-group {
  margin-bottom: 2px;
  border-bottom: 1px solid var(--spector2-table-cell-border-color);
  border-bottom: 1px solid var(--spector2-table-cell-border-color);
  margin-bottom: 2px;
}

.spector2-replay-resources {
  padding-left: 1.5em;
}

.spector2-replay-resources>*:nth-child(5n) {
  border-bottom: 1px solid var(--spector2-table-cell-border-color);
}