:root {
  --spector2-bg-color: white;
  --spector2-color: black;
  --spector2-tab-moving-bg-color: #f5ffd3;
  --spector2-tab-bar-bg-color: #eee;
  --spector2-tab-splitter-bg-color: #b6b6b6;
  --spector2-tab-move-hover-color: #7dd0db;
  --spector2-cmd-selected-bg-color: #46C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --spector2-bg-color: #333;
    --spector2-color: white;
    --spector2-tab-bar-bg-color: #555;
    --spector2-cmd-arg-bg-color: #444;
    --spector2-cmd-selected-bg-color: #468;
  }
}

.spector2 {
  font-family: monospace;
  font-size: medium;
  box-sizing: border-box;
}
.spector2 * {
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
}
