:root {
  --spector2-bg-color: white;
  --spector2-color: black;
  --spector2-soft-color: #ddd;
  --spector2-accent-color: #388;
  --spector2-warn-color: darkorange;
  --spector2-error-color: #C00;
  --spector2-clickable-color: #05d;
  --spector2-tab-moving-bg-color: #f5ffd3;
  --spector2-tab-bar-bg-color: #eee;
  --spector2-tab-bg-color: #ddd;
  --spector2-tab-splitter-bg-color: #b6b6b6;
  --spector2-tab-move-hover-color: #7dd0db;
  --spector2-cmd-selected-bg-color: #CEF;
  --spector2-table-cell-border-color: #888;
  --spector2-font-size: medium;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --spector2-bg-color: #333;
    --spector2-color: white;
    --spector2-accent-color: #FF8;
    --spector2-error-color: #F00;
    --spector2-soft-color: #555;
    --spector2-clickable-color: #8AF;
    --spector2-tab-bar-bg-color: #222;
    --spector2-tab-bg-color: #68A;
    --spector2-cmd-arg-bg-color: #444;
    --spector2-cmd-selected-bg-color: #468;
    --spector2-table-cell-border-color: #666;
  }
}

.spector2 {
  font-family: monospace;
  font-size: var(--spector2-font-size);
  box-sizing: border-box;
}

.spector2 * {
  box-sizing: inherit;
  font-family: inherit;
}

.spector2 button {
  margin: 1px;
}

.spector2 canvas {
  display: block;
  background:
    repeating-conic-gradient(#444 0% 25%, #ccc 0% 50%) 50% / 16px 16px;
}

/* TODO: be more specific? These are for values */
.spector2 table {
  border-collapse: collapse;
  width: 100%;
  border: none;
}

.spector2 td:has(>table) {
  padding: 0;
}

/* this makes the first column the shortest */
.spector2 td:nth-child(1) {
  width: 1px;
}

.spector2 td+td {
  border-left: 1px solid var(--spector2-table-cell-border-color);
}

.spector2 tr+tr {
  border-top: 1px solid var(--spector2-table-cell-border-color);
}

.spector2-error {
  color: var(--spector2-error-color);
}

.spector2 label {
  /* display: inline-flex; this breaks the buffer view */
  align-items: center;
  white-space: nowrap;
}

.spector2 label+label,
.spector2 label+select,
.spector2 select+label,
.spector2 select+select {
  margin-left: 1.0em;
}

.spector2 summary {
  cursor: pointer;
}

.spector2 summary::marker {
  color: var(--spector2-soft-color);
  opacity: 50%;
}

.spector2-top-separator {
  border-top: 2px solid var(--spector2-table-cell-border-color);
  padding-top: 4px;
  width: 100%;
}