.wgdb-steps-vis {
  height: 100%;
}

.wgdb-steps-vis-traces {
  display: flex;
}

.wgdb-cmd-indent-1 {
  padding-left: 1em;
}

.wgdb-cmd-indent-2 {
  padding-left: 2em;
}

.wgdb-cmd-indent-3 {
  padding-left: 3em;
}

.wgdb-cmd-indent-4 {
  padding-left: 4em;
}

.wgdb-cmd {
  text-indent: -1em;
  cursor: pointer;
}

.wgdb-cmd>* {
  display: inline;
}

.wgdb-cmd>*>* {
  display: inline;
}

.wgdb-cmd-args {
  color: var(--wgdb-accent-color);
}

.wgdb-cmd-arg>* {
  display: inline;
}

.wgdb-cmd-selected {
  background-color: var(--wgdb-cmd-selected-bg-color);
}