.wgdb-jsonvalue-key {
  margin-right: 0.5em;
}

.wgdb-jsonvalue-key-value {
  display: flex;
  margin-left: 1em;
}

.wgdb-jsonvalue-value {
  display: flex;
}

.wgdb-jsonvalue-key-value-expandable-value {
  margin-left: 1em;
}

.wgdb-jsonvalue-close-symbol {
  margin-left: 1em;
}