.spector2-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spector2-toolbar-left {
  display: flex;
  padding: 2px;
  align-items: stretch;
}

.spector2-toolbar a {
  text-decoration: none;
}