.wgdb-textureviewer {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.wgdb-textureviewer-canvascontainer {
  flex: 1 1 auto;
  width: 100%;
  overflow: auto;
  padding: 1em;
}

.wgdb-textureviewer canvas {
  cursor: crosshair;
  padding: 0;
  width: auto;
  height: auto;
}

.wgdb-textureviewer canvas.cube {
  cursor: all-scroll;
}

.wgdb-textureviewer canvas.fill {
  width: calc(100% - 2em);
  width: calc(100% - 2em);
}