.spector2-textureviewer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.spector2-textureviewer-canvascontainer {
  flex: 1 1 auto;
}

.spector2-textureviewer canvas {
  cursor: crosshair;
  margin: 1em;
  padding: 0;
  width: auto;
  height: auto;
}

.spector2-textureviewer canvas.cube {
  cursor: all-scroll;
}

.spector2-textureviewer canvas.fill {
  width: calc(100% - 2em);
  width: calc(100% - 2em);
}

.spector2-colorpickerresult {
  background-color: var(--spector2-bg-color);
  position: absolute;
  display: block;
  border: 1px solid var(--spector2-table-cell-border-color);
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 50%);
  width: 300px;
}
