.wgdb-debugger {
  position: fixed;
  right: 0;
  top: 0;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--wgdb-bg-color);
  color: var(--wgdb-color);
}

.wgdb-vis {
  font-size: var(--wgdb-font-size);
  height: 100%;
}

.wgdb-panes {
  position: relative;
  width: 100%;
  height: 100%;
}

.flexlayout__layout {
  --color-text: var(--wgdb-color);
  --color-background: var(--wgdb-bg-color);
  --color-base: var(--wgdb-bg-color);

  /* tab area color when inactive */
  --color-1: var(--wgdb-tab-bar-bg-color);
  /* spitter color */
  --color-2: var(--wgdb-tab-splitter-bg-color);
  /*#1a1a1a;*/
  --color-3: green;
  /*#262626;*/
  /* tab color, tab area when inactive */
  --color-4: var(--wgdb-tab-bg-color);
  /*#333333;*/
  --color-5: blue;
  /*#404040;*/
  --color-6: magenta;
  /*#4d4d4d;*/
  font-size: xx-small;
  --font-size: xx-small;
}