.spector2-debugger {
  position: fixed;
  right: 0;
  top: 0;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--spector2-bg-color);
  color: var(--spector2-color);
}

.spector2-vis {
  overflow: auto;
  font-size: var(--spector2-font-size);
}

.spector2-panes {
  position: relative;
  width: 100%;
  height: 100%;
}

.flexlayout__layout {
  --color-text: var(--spector2-color);
  --color-background: var(--spector2-bg-color);
  --color-base: var(--spector2-bg-color);

  /* tab area color when inactive */
  --color-1: var(--spector2-tab-bar-bg-color);
  /* spitter color */
  --color-2: var(--spector2-tab-splitter-bg-color);
  /*#1a1a1a;*/
  --color-3: green;
  /*#262626;*/
  /* tab color, tab area when inactive */
  --color-4: var(--spector2-tab-bg-color);
  /*#333333;*/
  --color-5: blue;
  /*#404040;*/
  --color-6: magenta;
  /*#4d4d4d;*/
  font-size: xx-small;
  --font-size: xx-small;
}