.react-tile-pane-tabTitle {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-tile-pane-tabBar {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.react-tile-pane-tab {
  width: 100%;
  height: 100%;
}

.react-tile-pane-tabMoving {
  padding: 0.3em 1em;
  border-radius: 4px;
  background-color: var(--wgdb-tab-moving-bg-color);
}

.react-tile-pane-tabInner {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--wgdb-tab-bar-bg-color);
}

.react-tile-pane-tabInnerOff {
  height: 100%;
  /* not sure where these colors are used
  border-left: 1px solid #d1d1d18f;
  border-bottom: 1px solid #b9b9b98f;
  border-right: 1px solid #8787878f;
  background: #e9e9e9;
  color: red;
  box-shadow: inset 0px 1px 5px 2px #cfcfcf9c;
  */
  display: flex;
  align-items: center;
}

.react-tile-pane-tabInner:hover .react-tile-pane-off {
  opacity: 1;
}

.react-tile-pane-tabInnerOff:hover .react-tile-pane-off {
  opacity: 1;
}

.react-tile-pane-off {
  transition: 233ms;
  flex-grow: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 14px;
  font-size: 1.2em;
  height: 14px;
  margin-right: 10px;
  cursor: pointer;
}

.react-tile-pane-Bar {
  cursor: ew-resize;
  background-color: var(--wgdb-tab-splitter-bg-color);
  width: 4px;
  height: 4px;
}

.react-tile-pane-Bar:hover {
  background: var(--wgdb-tab-move-hover-color);
  height: 6px;
  width: 6px;
}